# # Byte-compiled / optimized / DLL files
# __pycache__/
# *.py[cod]
# *$py.class
# *.pyc

# # C extensions
# *.so
# *.pyd
# *.pyo

# # Distribution / packaging
# build/
# dist/
# .env

# # Editor settings
# .vscode/
# .idea/

# # macOS
# .DS_Store

# # Windows
# Thumbs.db
# desktop.ini
